@page
@model Bakalauras.Pages.Uzdaviniai.CreateTaskModel
@{
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    .image-button {
        background-image: url('stackedFraction.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        /* additional button styling */
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        /* ... */
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <div class="card" style="margin-bottom: 20px;">
                <div id="display" style="margin-bottom: 20px; margin-top: 20px;"></div>
            </div>
            <div class="card">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Uždavinio rašyklė</label>
                    <textarea class="form-control" id="TaskCreate" rows="3"></textarea>

                    <div class="row" style="margin-top: 15px;">
                        <button id="eqStart" style="margin-left: 20px; margin-right: 10px;">Start</button>
                        
                        <button id="frac" style="margin-left: 20px; margin-right: 10px;">
                            <img src="/images/stackedFraction.png" style="width:2em; height:2em;" alt="Button Image">
                        </button>

                        <button id="sqrt" style="margin-left: 20px; margin-right: 10px;">
                            <img src="/images/squareRoot.png" alt="Button Image">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        function DisplayTask() {
            const text = $('#TaskCreate').val();
            const katexRegex = /\\\((.*?)\\\)/g;

            const renderedText = text.replace(katexRegex, (match, equation) => {
                return katex.renderToString(equation);
            });
            $('#display').html(renderedText);
        }

        $('#eqStart').click(function () {
            var textarea = $('#TaskCreate');
            var text = '\\( \\)';
            var startPos = textarea[0].selectionStart;
            var endPos = textarea[0].selectionEnd;
            var value = textarea.val();
            textarea.val(value.substring(0, startPos) + text + value.substring(endPos));
            // Set the cursor position to the end of the inserted text
            textarea[0].selectionStart = textarea[0].selectionEnd = startPos + text.length;

            DisplayTask();
        });

        $('#frac').click(function () {
            var textarea = $('#TaskCreate');
            var text = '\\frac{A}{B}';
            var startPos = textarea[0].selectionStart;
            var endPos = textarea[0].selectionEnd;
            var value = textarea.val();
            textarea.val(value.substring(0, startPos) + text + value.substring(endPos));
            // Set the cursor position to the end of the inserted text
            textarea[0].selectionStart = textarea[0].selectionEnd = startPos + text.length;

            DisplayTask();
        });

        $('#sqrt').click(function () {
            var textarea = $('#TaskCreate');
            var text = '\\sqrt{A}';
            var startPos = textarea[0].selectionStart;
            var endPos = textarea[0].selectionEnd;
            var value = textarea.val();
            textarea.val(value.substring(0, startPos) + text + value.substring(endPos));
            // Set the cursor position to the end of the inserted text
            textarea[0].selectionStart = textarea[0].selectionEnd = startPos + text.length;

            DisplayTask();
        });

        $('#TaskCreate').on('keyup click', function () {
            DisplayTask();
        });
    });
</script>