@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Puslapis nepasiekiamas";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger"><h3>Jūs negalite pasiekti šio puslapio.</h3></p>
</header>
